asgiref==3.8.1
Django==5.0.7
django-cors-headers==4.5.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
drf-base64==2.0
mysql-connector==2.2.9
mysql-connector-python==9.0.0
mysqlclient==2.2.4
olefile==0.47
pillow==11.0.0
PyJWT==2.8.0
sqlparse==0.5.1
typing_extensions==4.12.2
